<thead>
  <tr>
    <th class="col-check"><input type="checkbox" class="subcat-master" data-cotizat-change="partidas-select-subcategory" title="Seleccionar subcategoría"></th>
    <th class="col-code sortable" title="Código interno">Código</th>
    <th class="col-nombre sortable">Partida</th>
    <th class="col-und">Und.</th>
    <th class="col-coste right sortable" title="Coste directo (materiales+mano obra+complementarios+otros)">Coste</th>
    <th class="col-precio right sortable">Precio</th>
    <th class="col-margen right" title="Beneficio = Precio - Coste · % sobre coste">Beneficio</th>
    <th class="col-usos right sortable">Usos</th>
    <th class="col-actions right">Acciones</th>
  </tr>
</thead>
